
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

}
h1{
    text-align: center;
    font-size: 30px;
}

.title{
    text-align: center;
    font-size: 30px;
    color: blue;
}

.famous-musicians{
    color: blue;
    font-style: oblique;
}

body{
    background-color: azure;
}

a{
    color:blue;
}
a:hover{
    color:green
}
ul{
    columns: 2;
}